body {
    margin: 0.5em;
}
input {
    font-family:'Courier New', Courier, monospace;
}

table#framet {
    margin: 1em;
}
table td {
    padding: 0.1em;
    border: 1px solid black;
    border-collapse: collapse;
    font-family:'Courier New', Courier, monospace;
}
td.code, td.period {
    text-align: right;
}
.panel {
    margin: 1em;
    padding: 1em;
    border: 1px solid black;
    border-radius: 0.5em;
    background-color: #f0f0f0;
    font-family:'Courier New', Courier, monospace;
}
#status th {
    text-align: left;
}
